In [5]:
%matplotlib inline
import pandas as pd

In [6]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
titles = pd.read_csv('data/titles.csv')
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [8]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

There are multiple ways to do that

In [9]:
titles.shape[0]

214591

In [10]:
titles.size//len(titles.columns)

214591

In [11]:
titles.index.size

214591

In [12]:
len(titles)

214591

### What are the earliest two films listed in the titles dataframe?

In [13]:
titles.sort_values(['year'], ascending=True).iloc[:2]

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

In [14]:
titles.sort_values(['year'], ascending=True).head(2)

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [15]:
ham = titles[titles.title == 'Hamlet']
len(ham)
ham.shape[0]

19

19

In [16]:
haml = titles.loc[titles.title == 'Hamlet']
len(haml)
haml.shape[0]

19

19

In [17]:
# I forgot about this method this time

# What does the '==' return? A big list of trues or falses. Basically 0s and 1s.

# So we only need to do this

sum(titles.title == 'Hamlet')

19

### How many movies are titled "North by Northwest"?

In [18]:
%%time

sum(titles.title == 'North by Northwest')

Wall time: 25 ms

1

In [19]:
%%time 
titles[titles.title == 'North by Northwest'].shape[0]

Wall time: 11 ms

1

### When was the first movie titled "Hamlet" made?

In [20]:
ham.sort_values(['year']).head()

         title  year
100923  Hamlet  1910
179411  Hamlet  1911
85485   Hamlet  1913
139892  Hamlet  1921
156599  Hamlet  1948

In [21]:
ham.sort_values(['year']).head(1).year

100923    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
48904   Treasure Island  1918
108475  Treasure Island  1920
89471   Treasure Island  1934
52435   Treasure Island  1950
118309  Treasure Island  1972
144139  Treasure Island  1973
191845  Treasure Island  1985
50325   Treasure Island  1999

### How many movies were made in the year 1950?

In [23]:
titles[titles.year == 1950]

                        title  year
71         La negra Angustias  1950
155        Shri Krishan Leela  1950
185        Hochzeit mit Erika  1950
551         Rio Grande Patrol  1950
709                 Dominique  1950
...                       ...   ...
214230      Please Believe Me  1950
214295       Ela sto theio...  1950
214324               Do Ansoo  1950
214347  Die fidele Tankstelle  1950
214438       Kami ang sugatan  1950

[1036 rows x 2 columns]

In [24]:
titles[titles.year == 1950].shape
len(titles[titles.year == 1950])

(1036, 2)

1036

### How many movies were made in the year 1960?

In [25]:
titles[titles.year == 1960].shape
len(titles[titles.year == 1960])

(1461, 2)

1461

### How many movies were made from 1950 through 1959?

In [26]:
titles[titles.year//10 == 195].shape
len(titles[titles.year//10 == 195])

(12110, 2)

12110

### In what years has a movie titled "Batman" been released?

In [27]:
titles[titles.title == 'Batman']

        title  year
16656  Batman  1989
56309  Batman  1943

### How many roles were there in the movie "Inception"?

In [32]:
cast[cast.title == 'Inception']

,title,year,name,type,character,n
85565,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
130207,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
161273,Inception,2010,Tom Berenger,actor,Browning,8.0
173593,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
228660,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
...,...,...,...,...,...,...
2972865,Inception,2010,Ellen Page,actress,Ariadne,3.0
3021835,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3045839,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3051953,Inception,2010,Talulah Riley,actress,Blonde,25.0
3265183,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [33]:
cast[cast.title == 'Inception'].character.drop_duplicates().size

51

In [34]:
inc = cast[cast.title == 'Inception']#.character
inc[inc.duplicated(['character'], keep = False)]
inc[inc.duplicated(['character'], keep = 'first')].shape

             title  year                  name     type        character     n
85565    Inception  2010  Michael (III) August    actor    LAX Passenger   NaN
228660   Inception  2010        Virgile Bramly    actor   Bridge Sub Con  29.0
331411   Inception  2010         John Ceallach    actor    LAX Passenger   NaN
383230   Inception  2010         Nicolas Clerc    actor   Bridge Sub Con  26.0
392820   Inception  2010        Adam (IV) Cole    actor      Bar Sub Con  34.0
458599   Inception  2010    Jean-Michel Dagory    actor   Bridge Sub Con  30.0
654560   Inception  2010      Mark Fleischmann    actor  Penrose Sub Con  32.0
738646   Inception  2010         Carl Gilliard    actor    Lobby Sub Con  40.0
742450   Inception  2010     Daniel Girondeaud    actor   Bridge Sub Con   NaN
894946   Inception  2010       Andrew Hoagland    actor       Pedestrian   NaN
1437263  Inception  2010     Jack (III) Murray    actor      Bar Sub Con  35.0
1607678  Inception  2010        Andrew Pleavin    actor      Businessman  47.0
1629230  Inception  2010          Scott Pretty    actor       Pedestrian   NaN
1651192  Inception  2010          Marc Raducci    actor    Lobby Sub Con  39.0
1704026  Inception  2010   Benjamin (II) Riley    actor   Bridge Sub Con   NaN
1773479  Inception  2010         Norman Saleet    actor   Airport Patron   NaN
1817012  Inception  2010           Felix Scott    actor      Businessman  46.0
1885046  Inception  2010     Colin (XXV) Smith    actor   Airport Patron   NaN
2008502  Inception  2010        Kraig Thornber    actor      Bar Sub Con  36.0
2312415  Inception  2010      Natasha Beaumont  actress      Bar Sub Con  38.0
2451229  Inception  2010       Helena Cullinan  actress  Penrose Sub Con  31.0
2478051  Inception  2010      Coralie Dedykere  actress   Bridge Sub Con  27.0
2601094  Inception  2010       Natalie Goldwin  actress    LAX Passenger   NaN
2771934  Inception  2010         Silvie Laguna  actress   Bridge Sub Con  28.0
2777976  Inception  2010          Shelley Lang  actress  Penrose Sub Con  33.0
2816199  Inception  2010     Alex (II) Lombard  actress    Lobby Sub Con  42.0
2835312  Inception  2010         Jill Maddrell  actress    Lobby Sub Con  41.0
2935718  Inception  2010      Angela Nathenson  actress      Bar Sub Con  37.0
3021835  Inception  2010        Nicole Pulliam  actress    Lobby Sub Con  43.0

(21, 6)

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [38]:
inc = cast[cast.title == 'Inception']
inc[inc.n.isnull()]

,title,year,name,type,character,n
85565,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
173593,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
331411,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
607103,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
628065,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
742450,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
894946,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
973723,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
985535,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
995653,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1056098,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1149462,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1163695,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1478529,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1629230,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1704026,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1773479,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1885046,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
1982878,Inception,2010,Affan Tareen,actor,Denison,NaN
2468615,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2601094,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN

In [40]:
len(inc[inc.n.isnull()])
inc[inc.n.isnull()].shape[0]

21

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [43]:
# inc defined

inc[inc.n.notnull()]
inc[inc.n.notna()]

,title,year,name,type,character,n
130207,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
161273,Inception,2010,Tom Berenger,actor,Browning,8.0
228660,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
288473,Inception,2010,Michael Caine,actor,Miles,11.0
294438,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
383230,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
392820,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
458599,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
523818,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
629610,Inception,2010,Russ Fega,actor,Cab Driver,23.0
654560,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
717521,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
721274,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
738646,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
739830,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
763310,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
808320,Inception,2010,Lukas Haas,actor,Nash,12.0
835582,Inception,2010,Tom Hardy,actor,Eames,4.0
859398,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1039732,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1161492,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1291220,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1434683,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1437263,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1481052,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1510494,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1607678,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1619901,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1651192,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1663894,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1817012,Inception,2010,Felix Scott,actor,Businessman,46.0
1993725,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2008502,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2130955,Inception,2010,Ken Watanabe,actor,Saito,5.0
2312415,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2442148,Inception,2010,Marion Cotillard,actress,Mal,9.0
2451229,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2478051,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2585598,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2585605,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2771934,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
2777976,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
2816199,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
2835312,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
2935718,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
2949607,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
2972865,Inception,2010,Ellen Page,actress,Ariadne,3.0
3021835,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3045839,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3051953,Inception,2010,Talulah Riley,actress,Blonde,25.0
3265183,Inception,2010,Shannon Welles,actress,Old Mal,51.0

,title,year,name,type,character,n
130207,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
161273,Inception,2010,Tom Berenger,actor,Browning,8.0
228660,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
288473,Inception,2010,Michael Caine,actor,Miles,11.0
294438,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
383230,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
392820,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
458599,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
523818,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
629610,Inception,2010,Russ Fega,actor,Cab Driver,23.0
654560,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
717521,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
721274,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
738646,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
739830,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
763310,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
808320,Inception,2010,Lukas Haas,actor,Nash,12.0
835582,Inception,2010,Tom Hardy,actor,Eames,4.0
859398,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1039732,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1161492,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1291220,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1434683,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1437263,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1481052,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1510494,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1607678,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1619901,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1651192,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1663894,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1817012,Inception,2010,Felix Scott,actor,Businessman,46.0
1993725,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2008502,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2130955,Inception,2010,Ken Watanabe,actor,Saito,5.0
2312415,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2442148,Inception,2010,Marion Cotillard,actress,Mal,9.0
2451229,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2478051,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2585598,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2585605,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2771934,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
2777976,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
2816199,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
2835312,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
2935718,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
2949607,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
2972865,Inception,2010,Ellen Page,actress,Ariadne,3.0
3021835,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3045839,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3051953,Inception,2010,Talulah Riley,actress,Blonde,25.0
3265183,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [44]:
len(inc[inc.n.notnull()])
len(inc[inc.n.notna()])

51

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [46]:
nor = cast[cast.title == 'North by Northwest']

In [48]:
nor[nor.n.notnull()].sort_values(['n'])

,title,year,name,type,character,n
773496,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1292652,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2776446,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
315343,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2685171,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1504777,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1130557,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2167754,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1607029,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
590702,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2033529,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
411247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1339004,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
180985,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1228229,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [55]:
sleuth = castsleuth = cast[(cast.title == 'Sleuth')&(cast.year == 1972)]

In [56]:
sleuth.sort_values('n')

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [53]:
sleuth = cast[(cast.title == 'Sleuth')&(cast.year == 2007)]
sleuth

          title  year                 name     type          character    n
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [54]:
sleuth.sort_values(['n'])

          title  year                 name     type          character    n
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [58]:
ham1 = cast[(cast.title == 'Hamlet')&(cast.year == 1921)]
len(ham1)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [60]:
ham2 = cast[(cast.title == 'Hamlet')&(cast.year == 1996)]
len(ham2)

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [61]:
ham3 = cast[(cast.title == 'Hamlet')]
len(ham3)

299

### How many people have played an "Ophelia"?

In [65]:
oph = cast[cast.character == 'Ophelia']

In [66]:
len(oph)

len(oph.name.drop_duplicates())

96

94

### How many people have played a role called "The Dude"?

In [67]:
dud = cast[cast.character == 'The Dude']
len(dud)

16

In [69]:
len(dud.name.drop_duplicates())

16

### How many people have played a role called "The Stranger"?

In [70]:
stranger = cast[cast.character == 'The Stranger']
len(stranger)

192

In [72]:
len(stranger.name.drop_duplicates())

184

### How many roles has Sidney Poitier played throughout his career?

In [76]:
sp = cast[cast.name == 'Sidney Poitier']

In [81]:
len(sp)
sp.character.drop_duplicates().shape

# Answer shall be the first one as he can play 2 roles with the same name

43

(41,)

### How many roles has Judi Dench played?

In [79]:
jd = cast[cast.name == 'Judi Dench']

In [80]:
len(jd)
jd.character.drop_duplicates().shape

51

(44,)

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [85]:
c = cast[(cast.name == 'Cary Grant')&(cast.n == 2)]
c = c[c.year//10 == 194].sort_values('year')
c

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [86]:
c = cast[(cast.name == 'Cary Grant')&(cast.n == 1)]
c = c[c.year//10 == 194].sort_values('year')
c

,title,year,name,type,character,n
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [90]:
c = cast[cast.year//10 == 195]
c = c[c.type == 'actor']
len(c)

147951

### How many roles were available for actresses in the 1950s?

In [92]:
c = cast[cast.year//10 == 195]
c = c[c.type == 'actress']
len(c)

53969

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [97]:
c = cast[(cast.year <= 1980) & (cast.n == 1)]
len(c)

61444

### How many non-leading roles were available through from the beginning of film history through 1980?

In [98]:
c = cast[(cast.year <= 1980) & (cast.n != 1)]
len(c)

1047877

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [99]:
c = cast[(cast.year <= 1980) & (cast.n.isnull())]
len(c)

415167